{:deps
 {clansi {:mvn/version "1.0.0"}
  expound {:mvn/version "0.5.0"}}

 :aliases
 {:repl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                      cider/cider-nrepl {:mvn/version "0.17.0-SNAPSHOT"}}
         :main-opts ["-m repl"]}}}
